*{
    margin: 0;
    padding: 0; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#contactnav::after{
    background-color: bisque;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 10%;
    margin-bottom: 40%;
}
html{
    margin-bottom: 0;
}
/* @media screen and (max) {
    
} */

body{
    background-color: azure;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(walletbg.png);
    display: block;
}
#formEl{
    background-color: white;
    justify-content: center;
    align-items:center;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    margin: 0 auto;
    width: 100%;
    
}
button{
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    padding: 1em;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-radius: 8px;
}
button:hover{
    background-color: white;
    color: blue;
    border: solid blue;
    border-radius: 8px;
    border-width: 0.1em;

}
#SubmitPayment{
    width: 100%;
    flex-direction: column;
    justify-content:space-between;
    align-items:center; 
    text-align: center;
    display: none;
    padding: 0;
    border-radius: 1em;
    border-radius: 2%;
}
#submitpayment #formE1 input{
    width: 100%;
}
/* .balance{
    margin: 0 auto;
    border: none;
    display: grid;
    max-width: 10%;
    min-width: 10%;
    max-height: 10%;
    min-height: 10%;


    /* background-color: white  
}*/
.head{
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: monospace;
    margin-top: 6%;
}
h1{
    font-style: italic;
    color: aqua;
}
/* #balance{
    font-size: xx-large;
    font-weight: bold;
    background-color: rgba(233, 249, 4, 0.853);
    border-radius: 2em;
    display: flex;
    flex-direction: row;
} */
.bal{
    width: 30%;
    background-color: black;
    color: white;
    padding: 3em;
    border-radius: 7px;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 40vh;
    min-height: 10vh;
    font-size: large;
    font-weight: bold;
    
}
.navcont{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0px;
    background-color: rgba(0, 0, 255, 0.327);
    /* align-items: center;
    justify-content: center; */

}
.img{
    width: 10%;
    float: left;
    position: relative;

}
 .top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.3em;
    column-gap: 5%;
    padding:3% 1% 0 0;
}
ul li a{
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    text-decoration: none;
}
li a:hover{
    color: blue;
} 
.image{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.image img{
    width: 20%;  
    margin: 0 auto;
}
.card1{
    width: 70%;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}
input{
    outline: none;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgba(109, 95, 95,0.2);
    padding: 10px 30px;
}
#submit{
    background: blue;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 25px;
}
#submit:hover{
    background: white;
    color: darkslateblue;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 25px;
    border: solid darkslateblue;
    border-width: 1px;
}
.footer{
    background-color: blue;
    width: 100%;
    text-align: left;
    justify-content: left;
    align-items: left;
    justify-self: left;
    margin: auto;
    bottom: 0;
    position: relative;
}
.social li{
    justify-content: space-between;
    text-align: left;
    margin-left: 3%;
    list-style: none;
}
.contact{
    font-family: monospace;
    width: 30%;
    padding: 2%;
    background-color: white;
    color: blue;
    border: solid blue;
    border-width: 0.1em;
    border-radius: 0.4em;
    margin: 0 auto;
    margin-top: -5%;
}
.contact:hover{
    background-color: blue;
    color: white;
    border: solid white;
    border-width: 0.2em;
}