body{
    background-color:darkblue;
    }
    .logo{
    width:10%;
    }
    li a{
    color:white;
    }
    .form{
    width:100%;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    }
    .form form{
    background:white;
    width:70%;
    padding:2em;
    }
    ul{
    list-style-type:none;
    float:right;
    color:blue;
    }
    li{
    display:inline;
    padding: 2px;
    margin: 6px;
    }
    li a{
    text-decoration:none;
    }
    body {
      margin: 0;
      padding: 0;
    }
    .logo {
      float: left;
    }
    .navigation-bar {
    
      margin: 0 auto;
      height: px;
    }
    
    #navigation-container{
      height: px;
      width: 100%;
    }
    
    #navigation-container ul {
      padding: 0px;
      margin: 0px;
      text-align: center;
    }
    
    #navigation-container li {
      list-style-type: none;
      padding: 0px;
      height: 24px;
      margin-top: 4px;
      margin-bottom: 4px;
      display: inline;
    }
    
    #navigation-container li a {
      font-size: 16px;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      text-decoration: none;
      line-height: 70px;
      padding: 5px 15px;
      opacity: 0.7;
    }
    
    #menu {
      float: right;
    }
    footer {    
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color:deep-blue;  
    color: white;  
    text-align: center;  
    }  
   
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    .topnav {
      background-color:white;
      overflow: hidden;
    }
    .topnav a {
      float: left;
      color: blue;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color: #ddd;
      color: blue;
    }
    .topnav a.active {
      background-color:darkblue;
      color:white;
    }
    .topnav .icon {
      display: none;
    }
    .active{
    border-radius:50%;
    }
    